.description {
  width: 50%;
  .titleAndIcon {
    display: flex;
    align-items: center;
    gap: 20px;
    h1 {
      font-size: 40px;
      margin-bottom: 20px;
    }
    .icon {
      cursor: pointer;
      min-width: 35px;
      font-size: 35px;
      margin-bottom: 16px;
    }
  }
  p {
    line-height: 22px;
  }
  .categoria {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
  }

  .overview {
    margin: 20px 0;
    font-size: 20px;
    line-height: 30px;
    max-width: 600px;
  }
}
@media screen and (max-width: 600px) {
  .description {
    width: 100%;
  }
}
